name: Build
on:
  push:
  pull_request:
jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04 ]
    steps:
      - uses: actions/checkout@v2
      - name: "Install dependencies"
        run: sudo apt-get update && sudo apt-get install build-essential cmake qt5-default libqt5opengl5-dev libprotobuf-dev protobuf-compiler
      - name: "Build"
        run: mkdir build && cd build && qmake .. && make -j8
